{% load static %}
<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo center">Happydress</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-left-mobile" class="left hide-on-med-and-down">
          <li><a href="{% url 'basket' %}">Взять в аренду<span class="new badge purple" id="counter">{{ count }}</span></a></li>
        {% if user.is_staff %}
          <li><a href="{% url 'create_dress' %}">Добавить платье</a></li>
        {% endif %}
          <li><a href="https://www.instagram.com/happydress_msk/">Мы в инстаграм</a></li>
        </ul>
        <ul id="nav-right-mobile" class="right hide-on-med-and-down">

        {% if user.is_authenticated %}
          <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i></a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="material-icons">login</i></a></li>
          <li><a href="{% url 'signup' %}">Создать аккаунт</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'basket' %}">Взять в аренду<span class="badge" id="counter">{{ count }}</span></a></li>
  {% if user.is_staff %}
    <li><a href="{% url 'create_dress' %}">Добавить платье</a></li>
  {% endif %}
    <li><a href="https://www.instagram.com/happydress_msk/">Мы в инстаграм</a></li>
  {% if user.is_authenticated %}
    <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons">logout</i>Выход</a></li>
  {% else %}
    <li><a href="{% url 'login' %}"><i class="material-icons">login</i>Войти</a></li>
    <li><a href="{% url 'signup' %}">Создать аккаунт</a></li>
  {% endif %}
  </ul>

  <script src="{% static '/materialize/js/options.js' %}"></script>

</header>
