{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load humanize %}
{% block content %}
<main>
    <div class="container mt-3">
<!--      <div style="background-image: url({% static 'dresses/images/back_main.jpg' %})">-->
      <h1 class="align-content-center mb-4">Аренда нарядных платьев для фотоссесий и мероприятий </h1>
      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3">
        {% for dress in dresses %}
          <div class="col">
            <div class="card w-75 shadow-sm">
              <a href="{% url 'single_dress' dress.id %}">
                {% thumbnail dress.image_1 "400x400" upscale=True as im %}
                  <img class=img-fluid src="{{ im.url }}"  alt="Photoplace" />
                {% endthumbnail %}
              </a>
              <div class="card-body">
                <h4 class="card-title">{{ dress.item}}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-danger">Забронировать</button>
                  </div>
                  <h5 class="card-subtitle text-muted">{{ dress.price|floatformat:'0'|intcomma  }} руб.</h5>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </div>
    </div>
</main>
{% endblock %}