{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load dress_filter %}
{% block content %}
<div class="container">
  <div class="card horizontal">
    <div class="card-image">
    {% thumbnail dress.image_1 "500x500" upscale=True as im %}
      <img src="{{ im.url }}"  alt="Photoplace" />
    {% endthumbnail %}
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3>{{ dress.item }}</h3>
        <p>Рост: {{ dress.size }} см.</p>
        <p>Объем груди: {{ dress.volume }} см.</p>
        {% if dress.discount %}
          <p>Скидка: {{ dress.discount }} руб.</p>
        {% endif %}
        <p>Описание: {{ dress.description }}</p>
        <h1 class="pink-text">{{ dress.price|floatformat:'0'|intcomma }} руб.</h1>
      </div>
      <div class="card-action">
        {% if request|dress_in_basket:dress %}
        <a href="{% url 'del_basket' dress.id %}" class="btn cyan"><i class="material-icons left">remove</i>Убрать из брони </a>
        {% else %}
        <a href="{% url 'add_basket' dress.id %}" class="btn cyan"><i class="material-icons left">add</i>Добавить в бронь </a>
        {% endif %}
        {% if user.is_staff %}
          <a href="{% url 'edit_dress' dress.id %}" class="btn cyan"><i class="material-icons left">edit</i>Редактировать</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}